.collapse-body form, .collapse-body form ion-item, .collapse-body form ion-button {
    height: inherit;
  }
.collapse-body {
    height: 0;
 }
.collapse-head {
    padding: 15px;
    border: 1px solid #eee;
  
}
ion-icon {
    transition: 1s all;
    font-size: 26px;
    margin-right: 20px;
    margin-bottom: -6px;
}
.collapse-head label {
    letter-spacing: 0.4px;
    font-size: 19px;
    font-weight: 600;
}

div[class *= "active"] ion-icon{
transform: rotate(180deg);
}

div[class *= "active"]{
background-color:#f5f5f5;
}
div[class *= "active"] + .collapse-body {
    height: 100%;
    border: 1px solid #eee;
    margin: 10px;
    padding: 15px;
}

div[class *= "active"] + .collapse-body form ion-button {
    height: 48px;
}