.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.right{
    float:right;
}
ion-card-subtitle .transferto {
    color: #3880ff
}
.currentbalance {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 650;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.right {
    float: right;
    font-size: 14px;
    font-weight: 600;
}