<ion-header>
  <ion-toolbar>
    <ion-title (click)="clearStorage()">
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=""><span>current balance: {{ currentbalance }}</span></div>
    <ion-card class="welcome-card" *ngFor="let transaction of transactions">
        <ion-card-header>
            <ion-card-subtitle><span class="left">transfered to: </span><span class="transferto">{{transaction.transferto}}</span><span class="right">{{transaction.amount}}</span></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div><span class="left">{{transaction.description}}</span><span class="right">{{transaction.date}}</span></div>  
        </ion-card-content>
    </ion-card>
 </ion-content>
